<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="/">HOME</a>
  <a href="/about">ABOUT</a>
  <a href="/hyun">HYUN</a>
  <a href="/dingding">DINGDING</a>
  <a href="/cat">CAT</a>
  <a href="/contacts">전화번호부</a>
  
<%= yield %>

</body>
</html>
